<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>bat-charge-gi</string>
    <key>CFBundleIdentifier</key>
    <string>com.seonggi.bat-charge-gi</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>bat-charge-gi</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.7.5</string>
    <key>CFBundleVersion</key>
    <string>2.7.5</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSUIElement</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/SeongGi/bat-charge-gi/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>blwAzAPZk/Gj+60KkK4g/kHiwB0g6qztH3qBBnpBkgs=</string>
</dict>
</plist>
